.grilla-3x3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 70px;
   }

.marco{
  background-color: rgb(52, 136, 104);
  text-align: center;
  border-radius: 30px;
}

   .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #753d71;
    border-radius: 8px;
    background-color: #b69e9e;
    box-shadow: 0 0 10px rgba(149, 67, 173, 0.1);

    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .select-container {
    display: flex;
    gap: 10px;
  }
  
  .select-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .input-container input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }